<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tilføj Turistattraktion</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div class="content_wrapper">
    <h1>Tilføj Turistattraktion</h1>

    <form action="#" th:action="@{/attractions/save}" th:object="${attraction}" method="post">
        <label for="name">Navn:</label>
        <input id="name" type="text" th:field="*{name}"/>

        <label for="description">Beskrivelse:</label>
        <input id="description" type="text" th:field="*{description}"/>

        <label for="city">By:</label>
        <select id="city" th:field="*{city}">
            <option th:each="city: ${cities}" th:value="${city}" th:text="${city.getDisplayName()}"></option>
        </select>
        <br>

        <label for="tags">Tags:</label>
        <div id="tags" th:each="tag: ${tags}">
            <input type="checkbox" th:field="*{tags}" th:value="${tag}" th:text="${tag.getDisplayName()}"/>
        </div>
        <button type="submit">OK</button>
    </form>
</div>
</body>
</html>