<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adrenaline Denmark</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="content_wrapper">
    <!-- HEADER
    --------------------------------->
    <header class="center_aligned">
        <h1>Velkommen til Adrenaline Denmark – din guide til vilde oplevelser!</h1>
    </header>

    <!-- MAIN
    --------------------------------->
    <main>
        <p>Er du typen, der søger sus i maven, fart over feltet og oplevelser, der får pulsen til at stige? Så er vores
            turistguide lige noget for dig. Her finder du en samlet oversigt over de bedste attraktioner i Danmark for
            adrenalin-junkies – fra højtflyvende aktiviteter til nervepirrende udfordringer på land og til vands.</p>

        <p>Guiden dækker hele Danmark, så uanset om du besøger København, Aarhus, Aalborg eller de små kroge langs
            kysten,
            kan du finde spænding tæt på dig. Den fungerer både som en inspirationskilde og en praktisk
            planlægningshjælp:
            Du kan læse beskrivelser af oplevelserne, få tips til udstyr, finde kontaktoplysninger og se, hvordan du
            booker
            tid. </p>

        <p>Målgruppen er alle, der elsker action – unge, voksne, singler, vennegrupper eller familier med teenagere, der
            gerne vil have mere end sightseeing og museumsbesøg. Kort sagt: Hvis du er på jagt efter noget, der får
            adrenalinen til at pumpe, er denne guide din indgang til Danmarks vildeste oplevelser. </p>

        <p>Fra klatring i trætoppene, bungeejump og wakeboarding til gokart, mountainbike og kitesurfing – her finder du
            alt
            det, der gør en ferie uforglemmelig.</p>

        <h2>Start planlægningen</h2>
        <div class="center_aligned">
            <ul class="block_list">
                <li>
                    <a href="http://localhost:8080/attractions/ADRENALINSUS_PÅ_SJÆLLAND">
                        <img src="/images/attraction_gokart.png" alt="Adrenalinsus på Sjælland i gokarts">
                        <h3>ADRENALINSUS PÅ SJÆLLAND</h3>
                        <p>Er du klar til at opleve Sjælland på en helt ny måde? Denne oplevelse er skabt til den
                            eventyrlystne sjæl, der søger spænding og udfordringer...</p>
                    </a>
                </li>

                <li>
                    <a href="http://localhost:8080/attractions/PRØVEKØR_DRØMMEBILEN_-_PORSCHE_911_CARRERA_S">
                        <img src="/images/attraction_porsche.png" alt="Porsche 911 Carrera S">
                        <h3>PRØVEKØR DRØMMEBILEN - PORSCHE 911 CARRERA S</h3>
                        <p>Lej din drømmebil for en dag! Oplev drømmen og prøv en af verdens mest berømte biler -
                            Porsche 911 Carrera S. Bilen er i sort metallic med sort læderindtræk...</p>
                    </a>
                </li>

                <li>
                    <a href="http://localhost:8080/attractions/tandemspring">
                        <img src="/images/attraction_skydive.png" alt="Tandem skydive">
                        <h3>TANDEMSPRING</h3>
                        <p>Den ultimative oplevelse med et andet menneske! Tag din ven eller kæreste i hånden, spring ud i det og oplev suset i maven sammen. Denne oplevelse vil uden tvivl knytte bånd for livet...</p>
                    </a>
                </li>
            </ul>
        </div>
        <a href="http://localhost:8080/attractions"><h2>Se alle attraktioner</h2></a>

    </main>
</div>
<!-- FOOTER
--------------------------------->
<footer>
    <p>Kontakt:</p>
    <ul class="bullet_list">
        <li>Tlf: +45 29 85 51 58</li>
        <li>Email: <a href="mailto:contact@adrenalindenmark.com">contact@adrenalinedenmark.com</a></li>
    </ul>

    <p>
        Find os her:
        <a href="https://maps.app.goo.gl/d9JBche4gujABiCX9" target="_blank">
            Se rute i Google Maps
        </a>
    </p>

    <p>Andre websider:</p>
    <nav>
        <a href="https://www.visitcopenhagen.com/copenhagen/planning/kitekollektivet-gdk1123099">Kitesurfing
        </a> |
        <a href="https://www.getyourguide.dk/kobenhavn-l12/kobenhavn-tandem-skydive-det-ultimative-kobenhavner-eventyr-t836376/?ranking_uuid=24527097-a8d7-46bd-b36b-4f5fb4d689c0">Skydiving
        </a> |
        <a href="https://www.visitaarhus.com/aarhus-region/see-and-do/outdoor-activities/mountain-biking">Mountain biking
        </a>
    </nav>

</footer>
</body>
</html>